.banner {
    height: calc(100vh - 64.26px);
    min-height: 200px;
    width: 100%;
    background: var(--branco);
}

.home {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 320px;
}

.home h1 {
    min-height: 200px;
}

.home button {
    cursor: pointer;
}

@media screen and (min-width: 588px) {
    .home .titulo {
        font-size: 3em;
    }
}